* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-spin {
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-1 {
  background-color: #2EA6C6 !important;
}

.bg-2 {
  background-color: #2F1F3E !important;
}

.nav-link {
  color: white !important;
  text-decoration: none !important;
  padding: 10px 20px;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: #72dbf85e !important;
}

.nav-link.active {
  background-color: #2EA6C6;
  color: #2F1F3E !important;
}